<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">Movies</a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/movies">Movies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/tvseries">TV Series</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input aria-label="Search" class="form-control mr-sm-2" placeholder="Search" type="search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>


        <span *ngIf="isLoggedIn; else elseBlock" class="navbar-text ml-auto">
      <a routerLink="/profile">{{username}}</a> <a (click)="logout()" class="nav-link" routerLink="/login">odhlásiť</a>
    </span>

        <ng-template #elseBlock>
            <span class="navbar-text ml-auto"><a routerLink="/login">Prihlásenie</a></span>

            <span class="nav-item">
        <a class="nav-link" routerLink="register">Register</a>
      </span>
        </ng-template>
    </div>
</nav>
