<div *ngIf="deletedSerial" class="alert alert-success">
    Serial ({{deletedSerial.serialID}} {{deletedSerial.titleEN}} {{deletedSerial.secondTitleEN}}) was successfully
    deleted.
</div>
<button class="btn btn-outline-primary btnAdd" routerLink="../../create/tvseries">Add Serial</button>
<table class="table table-hover" style="width: 50%;">
    <thead>
    <tr>
        <th>serialID</th>
        <th>title</th>
        <th>action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let tvSerie of tvSeries">
        <td>{{tvSerie.serialID}}</td>
        <td>{{tvSerie.titleEN}} {{tvSerie.secondTitleEN}}</td>
        <td>
            <button class="btn btn-outline-secondary" routerLink="../../edit/tvseries/{{tvSerie.serialID}}"
                    type="button">
                 Edit
            </button>
            <button (click)="deleteTvSerie(tvSerie)" class="btn btn-outline-danger" type="button">
               Delete
            </button>
        </td>
    </tr>
    </tbody>
</table>
