<ul class="nav nav-tabs">
    <li class="nav-item">

        <a [routerLinkActive]="['active']" [routerLink]="['movies']" class="nav-link">List of movies</a>
    </li>
    <li [routerLinkActive]="['active']" class="nav-item">
        <a [routerLinkActive]="['active']" [routerLink]="['tvseries']" class="nav-link">List of Tv series</a>
    </li>
    <li class="nav-item">
        <a [routerLinkActive]="['active']" [routerLink]="['users']" class="nav-link ">Users</a>
    </li>

</ul>
<router-outlet></router-outlet>
