main {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right top, #000000, #000000);
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: rgb(14, 13, 13);
}

.glass {
    background: white;
    min-height: 100vh;
    margin-top: 3.5rem;
    width: 100%;
    background: linear-gradient(to right bottom,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.2));
    z-index: 2;
    backdrop-filter: blur(1rem);
    display: flex;
}

.circle1, .circle2 {
    background: white;
    background: linear-gradient(to right bottom,
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.3));
    height: 20rem;
    width: 20rem;
    position: absolute;
    border-radius: 50%;
}

.circle1 {
    top: 10%;
    right: 5%;
    background-color: #0f0d0cc4
}

.circle2 {
    bottom: 2%;
    left: 5%;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.status {
    margin-bottom: 2rem;
}

.status input {
    border: none;
    width: 20rem;
    padding: 0.5rem;
    border-radius: 2rem;
}

.allMovies {
    margin-left: 3rem;
}

.cardContainer {
    background: linear-gradient(to left top,
    rgba(255,255,255,0.2),
    rgba(255,255,255,0.05));
    margin: 2rem 0rem;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 6px 6px 20px rgba(49, 49, 49, 0.5);
    text-align: center;
    width: 15rem;
    height: 18rem;
}
