<main>
    <div class="card">
        <img src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" alt="John" class="profile-img-card">
        <h1>{{currentUser.username}}</h1>
        <p class="email">Email: {{currentUser.email}}</p>

        <ul *ngFor="let role of currentUser.roles">
            <li *ngFor="let role of currentUser.roles">
                <p>Roles:</p>
                <p>{{ role }}</p>
            </li>
            <button *ngIf="role === adminRole" routerLink="../admin/movies">ADMIN PANEL</button>
        </ul>
    </div>

    <ng-template #loggedOut>
        Please login.
    </ng-template>
