<form (ngSubmit)="onSubmit()" class="form-inline my-2 my-lg-0">
    <input (keyup)="searchSerial(search)" [(ngModel)]="search" aria-label="Search" class="form-control mr-sm-2"
           name="search"
           placeholder="Search" type="search">
</form>

<div class="wrapper">
    <div *ngFor="let serial of tvseries">
        <div class="container">
            <img [src]="serial.srcImg" alt="{{serial.titleEN}} {{serial.secondTitleEN}}" height="200">
            <h6><a routerLink="/tvseries/{{serial.serialID}}">{{serial.titleEN}} {{serial.secondTitleEN}}</a></h6>
        </div>
    </div>
</div>
