<div>
    <h2>TV MOV|IEs</h2>
</div>

<div class="wrapper">
    <div *ngFor="let movie of movies">
        <div *ngIf="movie.movieID < 6" class="container">
            <img [src]="movie.srcImg" alt="{{movie.titleEN}} {{movie.secondTitleEN}}" height="200">
            <h6><a routerLink="/movies/{{movie.movieID}}">{{movie.titleEN}} {{movie.secondTitleEN}}</a></h6>
        </div>
    </div>
</div>

<div>
    <h2>TV SERIES</h2>
</div>

<div class="wrapper">
    <div *ngFor="let serial of tvseries">
        <div *ngIf="serial.serialID < 6" class="container">
            <img [src]="serial.srcImg" alt="{{serial.titleEN}} {{serial.secondTitleEN}}" height="200">
            <h6><a routerLink="/tvseries/{{serial.serialID}}">{{serial.titleEN}} {{serial.secondTitleEN}}</a></h6>
        </div>
    </div>
</div>

<!--<div class="listing">-->
<!--<div class="listing__head">-->
<!--<h3 class="listing__title">Trending Movies</h3>-->
<!--<a [routerLink]="['/movies']" routerLinkActive="router-link-active" class="listing__explore">-->
<!--<strong>Explore All</strong>-->
<!--</a>-->
<!--</div>-->

<!--<app-skeleton *ngIf="loader" ></app-skeleton>-->
<!--<p-carousel [value]="nowPlaying" [numVisible]="6" [numScroll]="4" [circular]="false" *ngIf="!loader"-->
<!--[responsiveOptions]="responsiveOptions">-->
<!--<ng-template let-movie pTemplate="item">-->
<!--<div class="listing-item-style" [routerLink]="['/movies/', movie.id]">-->
<!--<div class="overlay">-->
<!--<div class="hover"><i class="material-icons">play_arrow</i> PLAY NOW</div>-->
<!--</div>-->
<!--<img *ngIf="movie?.poster_path"-->
<!--src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/{{movie?.poster_path}}">-->
<!--<img *ngIf="!movie?.poster_path" src="assets/img/default-movie.png">-->
<!--<h6>{{ movie?.title }}</h6>-->
<!--<p class="rate"><i class="material-icons">star</i><span>{{movie?.vote_average}}</span> /10</p>-->
<!--<p class="year"><span>{{movie?.release_date | date: 'yyyy'}}</span>-->
<!--</p>-->
<!--</div>-->
<!--</ng-template>-->
<!--</p-carousel>-->
<!--</div>-->

<!--<div class="listing">-->
<!--<div class="listing__head">-->
<!--<h3 class="listing__title">Trending TV Shows</h3>-->
<!--<a [routerLink]="['/tv']" routerLinkActive="router-link-active" class="listing__explore">-->
<!--<strong>Explore All</strong>-->
<!--</a>-->
<!--</div>-->
<!--<app-skeleton *ngIf="loader"></app-skeleton>-->
<!--<p-carousel [value]="tvShows" [numVisible]="6" [numScroll]="4" [circular]="false" *ngIf="!loader"-->
<!--[responsiveOptions]="responsiveOptions">-->
<!--<ng-template let-tv pTemplate="item">-->
<!--<div class="listing-item-style" [routerLink]="['/tv/', tv.id]">-->
<!--<div class="overlay">-->
<!--<div class="hover"><i class="material-icons">play_arrow</i> PLAY NOW</div>-->
<!--</div>-->
<!--<img src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/{{tv?.poster_path}}">-->
<!--<h6>{{ tv?.original_name }}</h6>-->
<!--<p class="rate"><i class="material-icons">star</i><span>{{tv?.vote_average}}</span>/10</p>-->
<!--<p class="year"><span>{{tv?.first_air_date | date: 'yyyy'}}</span>-->
<!--</div>-->
<!--</ng-template>-->
<!--</p-carousel>-->
<!--</div>-->

